* {
    margin: 0;
    padding: 0;
    transition: .2s ease;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 0;
    overflow-x: hidden;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: beige;
    padding: 1.5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  header a {
    font-size: 1.75rem;
    /* Adjust font size for navigation links */
    padding: 0rem 1.5rem;
    /* Increased padding for better spacing */
    color: #8B0000;
    /* Darker color for better contrast */
    text-decoration: none;
    /* Remove underline from links */
  }
  
  header a:hover {
    /* Style for links on hover */
    color: black;
    /* Light pink for hover effect */
  }
  
  .logo img {
    width: 150px;
  }
  
  .home {
    display: flex;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background: url('TW.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 118vh;
  }
  
  .home-content {
    padding-left: 4.5%;
    align-items: start;
    font-size: 3.9rem;
    color: beige;
    font-weight: bold;
  }
  
  .button {
    margin-top: 10px;
    font-size: 1.7rem;
    position: absolute;
    background-color: #8B0000;
    color: beige;
    text-decoration: none;
    border: 2px solid #8B0000;
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    transform: .4s;
  }
  
  .button:hover {
    background-color: lightpink;
    color: #8B0000;
    border: 2px solid lightpink;
    cursor: pointer;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    height: auto;
    align-items: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    /* Light grey background */
    height: auto;
    align-items: center;
  }
  
  .product h2 {
    margin-top: 10px;
    font-size: 5rem;
    line-height: 1.5;
    margin-bottom: 35px;
    color: #8B0000;
  }
  
  .product p {
    padding-left: 10%;
    padding-right: 10%;
    color: #8B0000;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 5px;
  
  }
  
  .brand {
    height: auto;
    padding: 10px;
    margin: 10px;
  }
  
  .brand-container {
    display: flex;
    justify-content: center;
    /* Center the images */
    gap: 30%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .brand-item {
    margin: 0 auto;
    padding-top: 1%;
  }
  
  .brand-item figure {
    width: 100%;
    height: 100%;
  }
  
  .brand-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform .2s;
    /* Smooth transition */
    border: 2px solid #8B0000;
    /* Add a border */
  }
  
  .brand-item img:hover {
    transform: scale(1.1);
    /* Add a zoom effect on hover */
  }
  
  .brand-item figcaption {
    height: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
    color: #8B0000;
    box-sizing: border-box;
    font-size: 1.5em;
  }
  
  .about-product {
    margin-top: 10%;
  
  }
  
  .about-product h2 {
    color: #8B0000;
    font-size: 6em;
    padding-bottom: 5%;
    padding-left: 40%;
    align-items: center;
  }
  
  .about-product p {
    margin-top: 10px;
    padding-left: 50%;
    padding-right: 10%;
    color: #8B0000;
    font-size: 2em;
    line-height: 1.5;
    padding-bottom: 15%;
  }
  
  .about-content p {
    padding-left: 10%;
    padding-right: 10%;
    color: #8B0000;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
  }
  
  .about-content {
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    align-items: center;
  
  }
  
  .about-container {
    display: flex;
    justify-content: center;
    /* Center the images */
    gap: 10%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
  }
  
  .about-item {
    margin: 0 auto;
    padding-top: 5%;
  
  }
  
  .about-item figure {
    width: 100%;
    height: 100%;
  }
  
  .about-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform .2s;
    /* Smooth transition */
    border: 2px solid #8B0000;
    /* Add a border */
  }
  
  .about-item figcaption {
    text-align: center;
    font-size: 1.5em;
    color: #8B0000;
  }
  
  .new {
    padding-top: 15%;
    height: 100vh;
  }
  
  .new-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Center the text */
    margin-bottom: 30px;
    font-size: 1.5rem;
  
  }
  
  .new-text h1 {
    font-size: 4.8rem;
    font-weight: bold;
    color: #8B0000;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    /* Center the images */
    gap: 5%;
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;
  }
  
  .image-item {
    margin: auto;
    padding: 10px;
    /* Add some space around the images */
  
  }
  
  .image-item figure {
    width: 100%;
    height: 100%;
  }
  
  .image-item img {
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform .2s;
    /* Smooth transition */
    border: 2px solid #8B0000;
    /* Add a border */
  }
  
  .image-item img:hover {
    transform: scale(1.1);
    /* Add a zoom effect on hover */
  }
  
  .image-item figcaption {
    height: 20%;
    overflow: hidden;
    text-align: center;
    /* Center the text */
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  
  .Butter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
  }
  
  
  .Butter-content {
    text-align: center;
    margin-bottom: 2rem;
    /* Using rem for margins */
    padding-left: 20%;
    padding-right: 13%;
  }
  
  .Butter-content h1 {
    padding: 20px;
    /* Adjust top and bottom padding */
    color: #8B0000;
    font-size: 5em;
  }
  
  .Butter-content p {
    color: #8B0000;
    font-size: 1.5em;
    line-height: 2;
    margin-bottom: 1.2rem;
  }
  
  .Butter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  
  .Butter-item {
    flex-basis: calc(50% - 30px);
    /* Using percentages for responsiveness */
    border: 1px solid #8B0000;
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  
  .Butter-item figure {
    width: 100%;
    height: 100%;
  }
  
  
  .Butter-item img {
    align-items: center;
    width: 100%;
    /* Adjust as needed */
    height: 83%;
    /* Adjust as needed */
    object-fit: cover;
  }
  
  .Butter-item figcaption {
    background-color: #8B0000;
    /* Dark pink background */
    color: #fff;
    /* White text */
    font-size: 1.25rem;
    padding: 15px;
    text-align: center;
  }
  
  .collection-content {
    text-align: center;
    padding: 20px;
    height: auto;
    padding-bottom: 15px;
  }
  
  .collection-content h2,
  .collection-content h3 {
    color: #8B0000;
    /* Dark pink text */
    font-size: 5rem;
    margin-bottom: 10px;
  }
  
  .collection-content p {
    color: #8B0000;
    /* Dark pink text */
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .product-table {
    margin-bottom: 20px;
  }
  
  .product-table table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    margin: auto;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #8B0000;
    /* Dark pink border */
    padding: 8px;
    font-size: 1.25em;
    text-align: center;
  }
  
  .product-table th {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    /* Light grey background */
    color: #8B0000;
    /* Dark pink text */
  }
  
  .collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    transition: transform .2s;
  }
  
  .collection-container::after {
    content: '';
    grid-column: span 1;
  }
  
  .collection-item {
    position: relative;
  }
  
  .collection-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .view-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 25px;
    background-color: #8B0000;
    color: #fff;
    text-decoration: none;
  }
  
  .view-button:hover {
    background-color: #ff69b4;
  }
  
  .Review-Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* Adjust as needed */
    padding: 10%;
    background-color: #f9f9f9;
    /* Light grey background */
  }
  
  .review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* Adjust as needed */
    text-align: center;
  }
  
  .review-content h2 {
    color: #8B0000;
    /* Dark pink text */
    font-size: 5rem;
    margin-bottom: 20px;
  }
  
  .review-content p {
    color: #8B0000;
    /* Dark pink text */
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .review-button {
    display: inline-block;
    padding: 10px 20px;
    /* Adjust these values as needed */
    background-color: #8B0000;
    /* Dark pink background */
    color: #fff;
    /* White text */
    text-decoration: none;
    border: 2px solid #8B0000;
    border-radius: 10px;
    transition: .4s;
    font-size: 1.5em;
  }
  
  .review-button:hover {
    background-color: #ff69b4;
    /* Light pink background on hover */
    border-color: #ff69b4;
    /* Light pink border on hover */
  }
  
  
  .Review {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    /* Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    background-color: #f9f9f9;
    /* Light grey background */
  }
  
  .Review h1 {
    padding-top: 40px;
    font-size: 4.5em;
    color: #8B0000;
    /* Dark red */
    line-height: 1.2;
    /* Adjust line height for better readability */
    padding-bottom: 40px;
  }
  
  .Review h2 {
    color: #8B0000;
    /* Dark red */
    font-size: 1.5em;
    /* Slightly smaller than h1 */
  
  }
  
  .Review p {
    font-size: 1.5em;
    /* Adjust font size for body text */
    line-height: 1.5;
    /* Increase line height for better readability */
    padding: 40px 20px;
    /* Add some extra padding on the sides */
    color: #8B0000;
  }
  
  .Review form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  
  .Review label {
    color: #8B0000;
    /* Dark red */
    font-size: 1em;
    /* Consistent font size for labels */
    font-weight: bold;
    /* Make labels bolder for emphasis */
    margin-bottom: 5px;
    /* Reduce margin slightly */
  }
  
  .Review input,
  .Review textarea {
    padding: 10px;
    margin-bottom: 15px;
    /* Reduce margin slightly */
    border: 1px solid #8B0000;
    /* Dark red border */
    font-size: 1em;
    border-radius: 3px;
    /* Add subtle border radius for smoothness */
  }
  
  .Review input[type="submit"] {
    background-color: #8B0000;
    /* Dark red background */
    color: #fff;
    /* White text */
    cursor: pointer;
    padding: 10px 20px;
    /* Increase padding for submit button */
    border: none;
    /* Remove border for a cleaner look */
    border-radius: 5px;
    /* Add rounded corners to match other elements */
  }
  
  .Review input[type="submit"]:hover {
    background-color: #ff69b4;
    /* Lighter pink background on hover */
  }
  
  footer {
    background-color: #f9f9f9;
    /* Light grey background */
    padding: 20px 0;
    color: #8B0000;
    /* Dark pink text */
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .footer-content,
  .footer-section {
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    /* Add padding */
    box-sizing: border-box;
    /* Add box-sizing */
  }
  
  .fa-facebook {
    margin-right: 10px;
  }
  
  .fa-instagram {
    margin-right: 10px;
  }
  
  .footer h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    /* Increase font size */
  }
  
  .footer p,
  .footer li {
    margin-bottom: 4px;
    line-height: 1.6;
    /* Add line height */
  }
  
  .footer a {
    color: #8B0000;
    /* Dark pink text */
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ff69b4;
    /* Light pink text on hover */
    text-decoration: underline;
    /* Add underline on hover */
  }
  
  .footer-bottom {
    text-align: center;
    color: #8B0000;
    /* Dark pink text */
    padding-top: 0px;
    /* Add padding */
  }
  
  .footer li {
    list-style-type: none;
  }
  
  .GS,
  .PND,
  .BB {
    margin: 50px;
    /* Add space between sections */
    padding: 40px;
    /* Add padding inside sections */
    border: 1px solid #ddd;
    /* Add a light border */
    border-radius: 5px;
    /* Add rounded corners */
  }
  
  .Blush,
  .PPW,
  .MSC {
    margin: 50px;
    /* Add space between sections */
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 28px;
    padding-right: 28px;
    /* Add padding inside sections */
    border: 1px solid #ddd;
    /* Add a light border */
    border-radius: 5px;
    /* Add rounded corners */
  
  }
  
  .GS h2,
  .PND h2,
  .BB h2 {
    text-align: start;
    /* Center align the titles */
    margin-bottom: 10px;
    font-size: 2rem;
    color: #8B0000
      /* Add space below titles */
  }
  
  .Blush h2,
  .PPW h2,
  .MSC h2 {
    text-align: start;
    /* Center align the titles */
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 2rem;
    color: #8B0000;
    /* Add space below titles */
  }
  
  .GS p,
  .PND p,
  .BB p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* Add space below descriptions */
    font-size: 1.5em;
  }
  
  .Blush p,
  .PPW p,
  .MSC p {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* Add space below descriptions */
    font-size: 1.5em;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive grid layout */
    gap: 10px;
    /* Add space between product items */
  }
  
  .blush-container,
  .powder-container,
  .msc-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive grid layout */
    gap: 4%;
    /* Add space between product items */
  
  }
  
  .product-item,
  .blush-item,
  .powder-item,
  .msc-item {
    text-align: center;
    /* Center product details */
  }
  
  .product-item figure {
    margin: 0 auto;
    /* Center figures within items */
  }
  
  .product-item img {
    width: 100%;
    /* Make images fit the item width */
  }
  
  .blush-item img,
  .powder-item img,
  .msc-item img {
    width: 90%;
    /* Make images fit the item width */
  }
  
  figcaption {
    font-size: 14px;
    /* Set font size for captions */
    line-height: 1.5;
    /* Increase line spacing for better readability */
    margin-top: 5px;
    /* Add space above captions */
  }
  
  .Prod-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
    padding-bottom: 5px;
    font-size: 4em;
    color: #8B0000;
  }
  
  .GS .product-container,
  .Blush .blush-container,
  .PND .product-container,
  .BB .Butter-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-between;
  }
  
  .GS .product-item,
  .Blush .blush-item,
  .PND .product-item,
  .BB .Butter-item {
    flex: 0 0 18%;
    /* Adjust the width to fit 5 items in a row */
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    /* Center align the content */
  }
  
  .GS .product-item img,
  .Blush .blush-item img,
  .PND .product-item img,
  .BB .Butter-item img {
    width: 100%;
    height: auto;
  }
  
  .GS .quantity-control,
  .Blush .quantity-control,
  .PND .quantity-control,
  .BB .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    /* Center align the quantity control */
  }
  
  .GS .quantity-control button,
  .Blush .quantity-control button,
  .PND .quantity-control button,
  .BB .quantity-control button {
    width: 30px;
    height: 30px;
    background-color: #8B0000;
    /* Dark red background */
    color: #fff;
    /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
  }
  
  .GS .quantity-control button:hover,
  .Blush .quantity-control button:hover,
  .PND .quantity-control button:hover,
  .BB .quantity-control button:hover {
    background-color: #ff69b4;
    /* Light pink background on hover */
  }
  
  .GS .quantity-control input,
  .Blush .quantity-control input,
  .PND .quantity-control input,
  .BB .quantity-control input {
    width: 80px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #8B0000;
    /* Dark red border */
    border-radius: 5px;
  }
  
  .GS .add-to-cart-button,
  .Blush .add-to-cart-button,
  .PND .add-to-cart-button,
  .BB .add-to-cart-button {
    display: inline-block;
    padding: 15px 30px;
    /* Increase padding for a nicer look */
    background-color: #8B0000;
    /* Dark red background */
    color: #fff;
    /* White text */
    text-decoration: none;
    border: 2px solid #8B0000;
    border-radius: 10px;
    transition: background-color .3s, border-color .3s, transform .3s, box-shadow .3s;
    font-size: 1.5em;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    text-align: center;
    /* Center the text */
    margin-left: auto;
    margin-right: auto;
  }
  
  .GS .add-to-cart-button:hover,
  .Blush .add-to-cart-button:hover,
  .PND .add-to-cart-button:hover,
  .BB .add-to-cart-button:hover {
    background-color: #ff69b4;
    /* Light pink background on hover */
    border-color: #ff69b4;
    /* Light pink border on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Enhance the shadow on hover */
  }
  
  .GS .add-to-cart-button::before,
  .Blush .add-to-cart-button::before,
  .PND .add-to-cart-button::before,
  .BB .add-to-cart-button::before {
    content: '🛒';
    /* Add a cart icon before the text */
    margin-right: 10px;
    /* Add space between icon and text */
  }
  
  .GS .add-to-cart-textbox,
  .Blush .add-to-cart-textbox,
  .PND .add-to-cart-textbox,
  .BB .add-to-cart-textbox {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #8B0000;
    text-align: center;
  }
  
  /* Button Styles */
  button {
    display: block;
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #ff69b4;
    transform: scale(1.05);
  }
  
  
  /* Checkout Section Styles */
  h1 {
    text-align: center;
    color: #8B0000;
    font-size: 40px;
    margin-top: -70px;
    /* Move the word "CHECKOUT" a little upper */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13%;
    padding-bottom: 3px;
  }
  
  main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-section {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  
  }
  
  #cart-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  #cart-table th,
  #cart-table td {
    padding: 12px;
  }
  
  #cart-table th {
    background-color: #f2f2f2;
    font-size: 2em;
    color: #8B0000;
  }
  
  #cart-table td {
    text-align: center;
    font-size: 1.5em;
    color: #333;
  
  }
  
  h2 {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    color: #8B0000;
  }
  
  /* Clear Cart Button Styles */
  .clear-cart-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .clear-cart-btn {
    padding: 10px 10px;
    font-size: 12px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .clear-cart-btn:hover {
    background-color: pink;
    transform: translateX(10px);
    /* Slightly move to the right on hover */
  }
  
  /*Pay button */
  .proceed-pay-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 150px;
    /* Increased padding to make the button longer */
    font-size: 16px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .proceed-pay-btn:hover {
    background-color: pink;
  }
  
  /* Modal styling */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with opacity */
  }
  
  .modal-content {
    background-color: #ffcbeb;
    margin: 15% auto;
    font-size: 20px;
    color: #000000;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Width of the modal */
    text-align: center;
    border-radius: 8px;
  }
  
  #modal-message {
    text-align: center;
  }
  
  .thank-you-message {
    display: block;
    margin-top: 8px;
  }
  
  #close-modal-btn {
    background-color: #e962d2;
    /* Soft pink background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    /* Bigger font size */
    margin-top: 20px;
  }
  
  #close-modal-btn:hover {
    background-color: #d32f2f;
  }